[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
itsdangerous = "==1.1.0"
Flask = "==1.0.3"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.4"
honcho = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
